<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>List Users</h2>
                <div class="nav navbar-right panel_toolbox">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr style="background: rgba(52, 73, 94, 0.94); color: #ECF0F1">
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Birthday</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let user of users'>
                            <td>{{user.Id}}</td>
                            <td>{{user.FirstName}}</td>
                            <td>{{user.LastName}}</td>
                            <td>{{user.Gender}}</td>
                            <td>{{user.Age}}</td>
                            <td>{{user.Birthday}}</td>
                            <td>{{user.Email}}</td>
                            <td>{{user.Phone}}</td>
                            <td>
                                <button (click)="onEditClicked(user)" class="btn btn-round btn-primary">Edit</button>
                                <button (click)="onQuickViewClicked(user)" class="btn btn-round btn-success">Quick view</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Quick view user</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left input_mask">

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" [(ngModel)]="selectedUser.FirstName" class="form-control has-feedback-left" id="inputSuccess2" placeholder="First Name">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Last Name </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" [(ngModel)]="selectedUser.LastName" class="form-control" id="inputSuccess3" placeholder="Last Name">
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Email </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" [(ngModel)]="selectedUser.Email" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Phone </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" [(ngModel)]="selectedUser.Phone" class="form-control" id="inputSuccess5" placeholder="Phone">
                            <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>