<div>
    <table width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a>user 1 </a></td>
                <td>male</td>
                <td>
                    <button>Edit</button>
                    <button>Quick view</button>
                </td>
            </tr>
            <tr>
                <td><a>user 2 </a></td>
                <td>female</td>
                <td>
                    <button>Edit</button>
                    <button>Quick view</button>
                </td>
            </tr>
        <tbody>
    </table>
</div>